@font-face {
  font-family: 'SourceSans';
  src: url('../fonts/SourceSansPro-Regular.ttf');
  font-weight: 400;
}

*{
  box-sizing: border-box;
}
body,html{
  font-family: 'SourceSans', sans-serif;
  height: 100%;
}
input{
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #88cef9;
  width: 100%;
  color: white;
  padding: 10px 0;
  outline: 0;
}
.pane{
  padding: 30px;
  background-image: linear-gradient(#00b7f0, #1e83f5);
  height: 100%;
  overflow-y: auto;
}

.UserSelect{
  position: absolute;
  width: 100%;
  background-color: #eee;
  z-index: 20;
  transition: all .3s;
}
.UserSelect.s-hidden{
  transform: translateX(-100%);
}
.UserSelect-input-wrap{
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0 30px;
  width: 100%;
  transform: translateY(-50%);
}
.UserSelect-input{
  text-align: center;
}


.Header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-color: white;
  box-shadow: 0 2px 7px rgba(0,0,0,0.08);
}
.Header-avatar{
  float: left;
  margin: 17px 0 0 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
  background-color: gray;
  background-size: cover;
}
.Header-username{
  float: left;
  font-size: 22px;
  margin: 16px 0 0 8px;
}
.Header-change{
  float: right;
  font-size: 14px;
  text-decoration: underline;
  opacity: 0.8;
  margin: 21px 30px;
}
.Gists-wrap{
  padding-top: 90px;
}
.Gist-link{
  display: block;
}
