@font-face {
  font-family: 'SourceSans';
  src: url('../fonts/SourceSansPro-Regular.ttf');
  font-weight: 400;
}

*{
  box-sizing: border-box;
}
body,html{
  font-family: 'SourceSans', sans-serif;
  height: 100%;
}
input{
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #88cef9;
  width: 100%;
  color: white;
  padding: 10px 0;
  outline: 0;
}
.pane{
  padding: 30px;
  background-image: linear-gradient(#00b7f0, #1e83f5);
  height: 100%;
}

.UserSelect{
  position: absolute;
  width: 100%;
  background-color: #eee;
  z-index: 20;
  transition: all .3s;
}
.UserSelect.s-hidden{
  transform: translateX(-100%);
}
.UserSelect-input-wrap{
  position: absolute;
  top: 50%;
  left: 0;
  padding: 0 30px;
  width: 100%;
  transform: translateY(-50%);
}
.UserSelect-input{
  text-align: center;
}
.Gists-wrap{

}
.Gist-link{
  display: block;
}
